# Financial Analysis

What is an API

“An application programming interface (API) is a computing interface that defines interactions between multiple software or mixed hardware-software intermediaries.” – Wikipedia.org

For our purpose, it helps us read historic stock prices directly from Jupyter Notebook without manually downloading a CSV file from a page like Yahoo! Finance.

In [ ]:
#How to read data from Yahoo!Finance API
#First import Pandas Datareader, an up to date remote data access for pandas
#Then import the datetime library. The datetime library is a standard library used to specify dates 
#which we need to specify a start date and potentially an end date

In [9]:
import pandas_datareader as pdr
import datetime as dt 

start = dt.datetime(2012,6,30) #The start date is defined by by the dt.datetime(2017,6,30).
sbk = pdr.get_data_yahoo("SBK.JO",start) #We call Pandas Datareader and dpecify the ticker SBK.JO,which is the stock symbol for Standard Bank Group Limited.

In [10]:
sbk.head() #A dataframe is returned when Pandas Datareader is used

               High      Low     Open    Close     Volume    Adj Close
Date
2012-07-02  11200.0  11050.0  11147.0  11100.0  3915029.0  6851.631348
2012-07-03  11341.0  11041.0  11150.0  11320.0  2354242.0  6987.428711
2012-07-04  11520.0  11184.0  11389.0  11278.0  1773010.0  6961.504883
2012-07-05  11425.0  11125.0  11200.0  11425.0  2536007.0  7052.243164
2012-07-06  11500.0  11255.0  11302.0  11311.0  2674005.0  6981.874512

# How to specify an end date

In [11]:
start = dt.datetime(2012,6,30)
end= dt.datetime(2022,6,30)

sbk = pdr.get_data_yahoo("SBK.JO", start, end) #This command states that we want all the data from June 30th,2012 to June 30th,2022.

In [12]:
sbk

               High      Low     Open    Close     Volume     Adj Close
Date
2012-07-02  11200.0  11050.0  11147.0  11100.0  3915029.0   6851.631348
2012-07-03  11341.0  11041.0  11150.0  11320.0  2354242.0   6987.429199
2012-07-04  11520.0  11184.0  11389.0  11278.0  1773010.0   6961.504395
2012-07-05  11425.0  11125.0  11200.0  11425.0  2536007.0   7052.242188
2012-07-06  11500.0  11255.0  11302.0  11311.0  2674005.0   6981.873535
...             ...      ...      ...      ...        ...           ...
2022-06-24  16511.0  16083.0  16251.0  16511.0  2780438.0  16511.000000
2022-06-27  16749.0  16160.0  16600.0  16311.0  2434802.0  16311.000000
2022-06-28  16512.0  16164.0  16580.0  16340.0  2337594.0  16340.000000
2022-06-29  16323.0  16003.0  16340.0  16142.0  2650598.0  16142.000000
2022-06-30  16066.0  15500.0  16000.0  15517.0  4439455.0  15517.000000

[2555 rows x 6 columns]

# Reading multiple tickers at once

We will now read historic stock prices from multiple tickers simultaneously.The following tickers will be viewed:

SBK.JO = Standard Bank Group Limited
FSR.JO = First Rand Limited 
NED.JO = Nedbank Group Limited
ABSP.JO = Absa Bank Limited
CPI.JO = Capitec Bank Holdings Limited

In [15]:
tickers = ["SBK.JO","FSR.JO","NED.JO","ABSP.JO","CPI.JO"]
start = dt.datetime(2012,6,30)
data = pdr.get_data_yahoo(tickers, start)

In [16]:
data.head()

Attributes    Adj Close                                           \
Symbols          SBK.JO       FSR.JO        NED.JO       ABSP.JO
Date
2012-07-02  6851.629883  1733.821777  10620.476562  37420.718750
2012-07-03  6987.429688  1759.603271  10644.808594  36826.492188
2012-07-04  6961.503906  1739.622314  10401.498047  37123.390625
2012-07-05  7052.242676  1728.665039  10706.244141  37165.871094
2012-07-06  6981.873047  1738.977661  10812.084961  37165.871094

Attributes                  Close                                          \
Symbols           CPI.JO   SBK.JO  FSR.JO   NED.JO  ABSP.JO        CPI.JO
Date
2012-07-02  17008.742188  11100.0  2690.0  17460.0  88100.0  20287.412109
2012-07-03  17049.339844  11320.0  2730.0  17500.0  86701.0  20335.832031
2012-07-04  17414.685547  11278.0  2699.0  17100.0  87400.0  20771.599609
2012-07-05  17292.898438  11425.0  2682.0  17601.0  87500.0  20626.343750
2012-07-06  17374.085938  11311.0  2698.0  17775.0  87500.0  20723.181641

Attributes  ...     Open                                             Volume  \
Symbols     ...   SBK.JO  FSR.JO   NED.JO  ABSP.JO        CPI.JO     SBK.JO
Date        ...
2012-07-02  ...  11147.0  2624.0  17305.0  88499.0  21268.375000  3915029.0
2012-07-03  ...  11150.0  2704.0  17556.0  88150.0  20335.832031  2354242.0
2012-07-04  ...  11389.0  2740.0  17600.0  87050.0  20287.412109  1773010.0
2012-07-05  ...  11200.0  2700.0  17182.0  87400.0  20742.548828  2536007.0
2012-07-06  ...  11302.0  2683.0  17725.0  87500.0  20783.220703  2674005.0

Attributes
Symbols         FSR.JO    NED.JO  ABSP.JO    CPI.JO
Date
2012-07-02   7944131.0  578432.0   3447.0   66543.0
2012-07-03   7768176.0  306059.0  20477.0   31534.0
2012-07-04   6107213.0  593210.0  10371.0   80929.0
2012-07-05  16494671.0  814945.0   5870.0  168821.0
2012-07-06  10307509.0  811456.0    490.0   78704.0

[5 rows x 30 columns]